<div class="px-4 sm:px-6 lg:px-8 bg-white rounded-md shadow-md py-5">
  <div class="px-4 sm:px-0">
    <h3 class="text-xl font-semibold leading-7 text-gray-900">Exception Details</h3>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Time</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.created_at.to_formatted_s(:long) %> (<%= distance_of_time_in_words(@exception.created_at, DateTime.now) %>)
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Hostname</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @exception.hostname %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Kind</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.kind %>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Count</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.count %>
        </dd>
      </div>
      <% if @exception.in_request_id.present? %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Request</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= link_to "View request", in_request_path(@exception.in_request_id), class: "underline" %>
        </dd>
      </div>
      <% end %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Message</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0  rounded-md bg-black text-white overflow-x-auto">
          <pre class="p-2"><%= @exception.message %></pre>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Backtrace</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 rounded-md bg-black text-white overflow-x-auto">
          <pre class="p-2"><%= @exception.stacktrace.gsub("[", "").gsub("]", "").gsub("\"", "").split(", ").join(", \n") %></pre>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Code preview</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 rounded-md bg-black text-white overflow-x-auto px-2 pt-2">
          <% @exception.location.gsub("[", "").gsub("]", "").gsub("\\n", "").gsub("\\", "").split(", ").each_with_index do |line, i| %>
            <div class="grid grid-cols-12 gap-x-1 <%= @line_numbers[i] + 1 == @exception.line ? "bg-red-500 bg-opacity-30" : "" %>">
              <span class="text-right col-span-1 font-medium text-base text-gray-300"><%= @line_numbers[i] + 1 %></span>
              <pre class="col-span-11"><code class="!p-0"><%= line[1..line.size-2] %></code></pre>
            </div>
          <% end %>
        </dd>
      </div>
    </dl>
  </div>

</div>
