<div class="px-4 sm:px-6 lg:px-8 bg-white rounded-md shadow-md py-5">
  <div class="px-4 sm:px-0">
    <h3 class="text-xl font-semibold leading-7 text-gray-900">Exception Details</h3>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Time</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.created_at.to_formatted_s(:long) %> (<%= distance_of_time_in_words(@exception.updated_at, DateTime.now) %>)
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Hostname</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= @exception.hostname %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Kind</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.kind %>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Count</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= @exception.count %>
        </dd>
      </div>
      <% if @exception.in_request_id.present? %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Request</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <%= link_to "View request", in_request_path(@exception.in_request_id), class: "underline" %>
        </dd>
      </div>
      <% end %>
      <% if @exception.out_request_id.present? %>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-base font-medium leading-6 text-gray-900">Request</dt>
          <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <%= link_to "View request", out_request_path(@exception.out_request_id), class: "underline" %>
          </dd>
        </div>
      <% end %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Message</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0  rounded-md bg-black text-white overflow-x-auto">
          <pre class="p-2"><%= @exception.message %></pre>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Backtrace</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 rounded-md bg-black text-white overflow-x-auto">
          <pre class="p-2"><%= JSON.parse(@exception.stacktrace).join("\n") %></pre>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-base font-medium leading-6 text-gray-900">Code preview</dt>
        <dd class="mt-1 text-base leading-6 sm:col-span-2 sm:mt-0 rounded-md bg-black text-white overflow-x-auto px-2 pt-2">
          <p class="pb-4 font-semibold"><%= @exception.file %></p>
          <% JSON.parse(@exception.location).each_with_index do |line, i| %>
            <div class="grid grid-cols-12 gap-x-1 <%= @line_numbers[i] + 1 == @exception.line ? "bg-red-500 bg-opacity-30" : "" %>">
              <span class="text-right col-span-1 font-medium text-base text-gray-300"><%= @line_numbers[i] + 1 %></span>
              <pre class="col-span-11"><code class="!p-0"><%= line %></code></pre>
            </div>
          <% end %>
        </dd>
      </div>
      <% if Eyeloupe::configuration.openai_access_key.present? %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0" data-controller="eyeloupe--ai-assistant" data-eyeloupe--ai-assistant-url-value="<%= ai_assistant_response_url(@exception) %>">
        <dt class="text-base font-medium leading-6 text-gray-900">AI Assistant</dt>
        <dd class="mt-1 text-base leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <button data-action="eyeloupe--ai-assistant#assist" data-eyeloupe--ai-assistant-target="btn" class="rounded-md px-2 py-1 text-white bg-red-500 text-xl hover:shadow-md hover:bg-red-400 transition flex gap-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-robot" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M7 7h10a2 2 0 0 1 2 2v1l1 1v3l-1 1v3a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-3l-1 -1v-3l1 -1v-1a2 2 0 0 1 2 -2z"></path>
              <path d="M10 16h4"></path>
              <circle cx="8.5" cy="11.5" r=".5" fill="currentColor"></circle>
              <circle cx="15.5" cy="11.5" r=".5" fill="currentColor"></circle>
              <path d="M9 7l-1 -4"></path>
              <path d="M15 7l1 -4"></path>
            </svg>
            <span>Click to get some help</span>
          </button>

          <svg data-eyeloupe--ai-assistant-target="loader" width="50" class="hidden" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#ff3130">
            <circle cx="15" cy="15" r="15">
              <animate attributeName="r" from="15" to="15"
                       begin="0s" dur="0.8s"
                       values="15;9;15" calcMode="linear"
                       repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="1" to="1"
                       begin="0s" dur="0.8s"
                       values="1;.5;1" calcMode="linear"
                       repeatCount="indefinite" />
            </circle>
            <circle cx="60" cy="15" r="9" fill-opacity="0.3">
              <animate attributeName="r" from="9" to="9"
                       begin="0s" dur="0.8s"
                       values="9;15;9" calcMode="linear"
                       repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="0.5" to="0.5"
                       begin="0s" dur="0.8s"
                       values=".5;1;.5" calcMode="linear"
                       repeatCount="indefinite" />
            </circle>
            <circle cx="105" cy="15" r="15">
              <animate attributeName="r" from="15" to="15"
                       begin="0s" dur="0.8s"
                       values="15;9;15" calcMode="linear"
                       repeatCount="indefinite" />
              <animate attributeName="fill-opacity" from="1" to="1"
                       begin="0s" dur="0.8s"
                       values="1;.5;1" calcMode="linear"
                       repeatCount="indefinite" />
            </circle>
          </svg>

          <p data-eyeloupe--ai-assistant-target="result" id="result"></p>
        </dd>
      </div>
      <% end %>
    </dl>
  </div>

</div>
