<% if job.enqueued? %>
  <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-base font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">
  <%= job.status.capitalize %>
</span>
<% elsif job.running? %>
  <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-base font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">
  <%= job.status.capitalize %>
</span>
<% elsif job.completed? %>
  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
  <%= job.status.capitalize %>
</span>
<% elsif job.failed? %>
  <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-base font-medium text-red-700 ring-1 ring-inset ring-red-600/10">
  <%= job.status.capitalize %>
</span>
<% else %>
<span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-base font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
  <%= job.status.capitalize %>
</span>
<% end %>