<% if code.to_s[0] == "2" %>
<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-base font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
  <%= code %>
</span>
<% elsif code.to_s[0] == "3" %>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-base font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">
  <%= code %>
</span>
<% elsif code.to_s[0] == "4" %>
  <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-base font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20">
  <%= code %>
</span>
<% elsif code.to_s[0] == "5" %>
  <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-base font-medium text-red-700 ring-1 ring-inset ring-red-600/10">
  <%= code %>
</span>
<% else %>
<span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-base font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
  <%= code %>
</span>
<% end %>