<%= turbo_frame_tag "frame" do %>
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">

      <table class="min-w-full divide-y divide-gray-300">
        <thead>
        <tr>
          <th scope="col" class="py-3 pl-4 pr-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500 sm:pl-0">Verb</th>
          <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Path</th>
          <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Status</th>
          <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Duration</th>
          <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Occurred</th>
          <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-0">
            <span class="sr-only">Details</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% @requests.each do |request| %>
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-base font-medium text-gray-900 sm:pl-0">
                <%= render "eyeloupe/shared/verb", verb: request.verb %>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500"><%= request.path.truncate(50) %></td>
              <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500">
                <%= render "eyeloupe/shared/status_code", code: request.status %>
              </td>
              <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500"><%= request.duration %> ms</td>
              <td class="whitespace-nowrap px-3 py-4 text-base text-gray-500"><%= distance_of_time_in_words(request.created_at, DateTime.now) %></td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-base font-medium sm:pr-0">
                <%= link_to "Details", in_request_path(request), class: "text-gray-600 hover:text-gray-900", data: {"turbo_frame": "_top"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <aside class="mt-4 px-4 py-3 flex items-center justify-center sm:px-6" aria-label="Pagination">
      <div class="flex-1 flex justify-center">
        <%== pagy_nav(@pagy) %>
      </div>
    </aside>
  </div>
<% end %>